* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins";
    background-color: #030014;
}

/* -------------------Full-screen preloader------------- */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #030014;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    font-family: "Poppins";
    font-style: italic;
    overflow: hidden;
    gap: 10px;
}

#preloader .pre-icons {
    transform: translateY(-100px);
    animation: dropAnimation 1s ease-in forwards;
}

#preloader .pre-icons i {
    font-size: 30px;
    background-color: rgb(30, 27, 27);
    border: 1.5px solid #ccc;
    margin: 30px;
    padding: 20px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 25px #6366f1,
        0 0 30px #63ADF1;
    animation: dropAnimation 1s ease-in forwards;
}

#preloader .pre-icons i:nth-child(1) {
    animation-delay: 0.2s;
}

#preloader .pre-icons i:nth-child(2) {
    animation-delay: 0.4s;
}

#preloader .pre-icons i:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes dropAnimation {
    0% {
        opacity: 0.3;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#preloader h1 {
    font-size: 60px;
}

.word {
    color: #bdc6e9;
    opacity: 0;
    transform: translateX(-50px);
    display: inline-block;
    animation: slideleft 1s ease-in forwards;
}

.word:nth-child(1) {
    animation-delay: 0.3s;
}

.word:nth-child(2) {
    animation-delay: 0.6s;
}

.word:nth-child(3) {
    animation-delay: 0.9s;
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.blue {
    background: linear-gradient(to right, #6366f1, #c0ddf8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Optional: Loading text */
#preloader p {
    font-size: 18px;
    margin-top: 10px;
    color: #5a5959;
}

/* -------------------------NAVBAR---------------------- */

header {
    position: sticky;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1;
    background-color: rgb(18, 18, 18);
    transition: all 0.3s ease;
}

.menu-icon {
    display: none; /* Initially hidden */
    font-size: 2rem;
    cursor: pointer;
    color: rgb(65, 61, 61);
}


nav {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.5);
}

#logo {

    background: linear-gradient(to right, #a855f7, #6366f1 50%, #75a6ec);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    line-height: 3em;
    display: flex;
    cursor: pointer;
}

ul {
    display: flex;
}

ul li {

    padding: 20px;
    background: linear-gradient(to right, #bdc6e9 20%, #b2b3f5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style-type: none;
    font-size: 22.5px;
    font-weight: 600;
    position: relative;

}

li a {
    text-decoration: none;
    text-transform: uppercase;
}

li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #a855f7, #9ec1f3);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

li a:hover {
    background: linear-gradient(to right, #b2b3f5 20%, #75a6ec);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

li a:focus::after {
    left: 0;
    width: 100%;
}


ul:hover li a:not(:hover) {

    background: linear-gradient(to right, #b2b3f5 80%, #75a6ec);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7;
    filter: blur(1.5px);
    transition: all 0.3s ease-out 0s;
}

/* ------------------HOME-SECTION---------------- */

section {
    min-height: 100vh;  /* Each section covers the full viewport */
    padding: 30px 0; /* Adds spacing */
}

.container {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.col {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-height: 400px;
}

.desc-col {
    margin-top: 40px;
}

#role {
    color: #bdc6e9;
    font-size: 4.5rem;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.typer-container {
    display: inline-block;
    color: #9091ed;
    font-size: 34px;
    font-weight: bold;
    margin: 10px;
    padding-left: 20px;
    text-align: center;
}

.cursor {
    display: inline-block;
    width: 5px;
    height: 25px;
    background: #8183ef;
    margin-left: 5px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.info {

    color: #9ea5c1;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px;
    padding: 15px;
    text-align: start;
}

.home-btn {
    display: flex;
    gap: 15px;
    padding: 12px 25px;
    flex-wrap: wrap;

}

.home-btn a {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    margin: 10px;
    text-align: center;
    background-color: #19191a;
    opacity: 0.8;
    box-shadow: 0 0 35px #63ADF1;
    transition: all 0.3s ease;
}

.home-btn a i {
    margin-left: 10px;
    font-size: 1.2rem;
}

.home-btn a:hover {
    filter: brightness(1.8);
    filter: blur(0.5px);
    border: 2px solid #8cb4ec;
    box-shadow: 0 0 45px #63ADF1;
    transform: scale(1.05);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.icons i {
    font-size: 30px;
    filter: brightness(1.6);
    margin: 10px;
    padding: 10px;
    background-color: #141415;
    border-radius: 20%;
    border: 2px solid #0a0a0b;
    box-shadow: 0 0 15px #63ADF1;
    cursor: pointer;
    transition: transform 1s ease;
}

.icons i:hover {
    transform: translate3d(10px, -40px, 0) rotateZ(360deg);
}

#col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.gif-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gify {

    max-width: 100%;
    width: 70%;
    height: auto;
    object-fit: cover;
    opacity: 0.66;
    filter: brightness(1.8);
    transition: transform 1s ease;
}

#gify:hover {
    transform: rotate(10deg) scale(1.1);
}

/* ------------------------------ABOUT SECTION ------------------------------------ */

.abt-container {
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 60px;
    margin-right: 60px;

}

#abt {
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: 3.7rem;
    font-weight: 650;
    /* display: flex; */
    color: #75a6ec;
    text-shadow: 0px 0px 15px #6d6eb5;
    /* background: linear-gradient(to right, #6366f1, rgb(133, 178, 221));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.abt-line {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: #9091ed;
}

.abt-desc-col {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.abt-col-1 {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-height: 400px;
    padding-left: 30px;
}

.intro {
    display: inline-block;
    color: #bfc8ec;
    font-size: 4.7rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.intro span {

    font-size: 3.5rem;
}

.my-intro {

    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    text-align: start;
    color: #8293ab;
}

.abt-btn {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.abt-btn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.abt-btn-cv {
    background: linear-gradient(5deg, #a855f7, #6366f1, #75a6ec);
    color: white;
    border: none;
    box-shadow: 0px 4px 10px rgba(168, 85, 247, 0.3);

}

.abt-btn-cv:hover {
    opacity: 0.9;
    filter: brightness(1.2);
    transform: scale(1.05);
}

.abt-btn-project {
    border: 2px solid #a855f7;
    color: #a855f7;
    background: transparent;
}

.abt-btn-project:hover {
    filter: brightness(1.8);
    background-color: #262525;
    color: #a855f7;
    transform: scale(1.05);

}

.abt-btn i {
    margin-left: 8px;
    font-size: 1.2rem;
}

.abt-col-2 {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-height: 400px;
    padding-left: 30px;
}

.my-pic {

    display: inline-flex;
    min-height: 400px;
}

.my-pic img {
    height: 600px;
    max-width: 100%;
    border-radius: 10% 30%;
    border: 6px solid #8a4dbf;
    box-shadow: 0 0 75px #c6b3d7;
    /* filter: brightness(1); */
    opacity: 0.65;
}

/* ------------------------------PROJECT SECTION ------------------------------------ */
.portfolio-container {
    /* display: flex;
    justify-content: center; */
    margin-left: 60px;
    margin-right: 60px;
}

#port {

    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: 3.7rem;
    font-weight: 650;
    /* display: flex; */
    /* color: #75a6ec; */
    color: #a066ff;
    background: linear-gradient(to right, #6264f3, #c0ddf8);
    /* background: linear-gradient(to right, #6366f1, rgb(133, 178, 221)); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 6px 15px #797be8; */
}

.port-line {

    margin: 5px auto;
    padding: 5px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #8293ab;
    max-width: 700px;
    text-align: center;
}

.port-tabs {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    padding: 10px;
    border-radius: 15px;
    max-width: 700px;
    margin: 30px auto;
    transition: all 0.3s ease;
}

.tab {
    flex: 1;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    font-size: 1.3rem;
    color: #8293ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff1a;
    transition: background 0.3s;
   
}
.tab i {
    font-size: 1.3rem;
    margin-bottom: 6px;
}
.active {
    background: #42457f;
    color: #fff;
}
.tech-tab:hover{
    filter: brightness(1.2);
    color: white;
    transform: scale(1.05);
    transition: transform 0.5s;
    background: #3f3f6b;
}
.tech-tab:hover i {
   opacity: 1;
}

#projects, #techstack {
    display:none;
    gap: 20px;
    margin-top: 30px;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.card {
   
    background: #1a1a2e;
    padding: 15px;
    border-radius: 15px;
    width: 450px;
    text-align: center;
    border: 1px solid #3e3e4f;
    box-shadow: 0 0 15px rgba(160, 102, 255, 0.3);
    transition: all 0.3s ease-in-out;
    display: block;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 15px;
    color: #9e85e0;   
}
.card p {
    font-size: 1.2rem;
    color: #5e728e;
}

.card:hover {
    border: 1px solid #4029a3;
    transform: scale(1.04);
    transition: transform 0.3s;  
}
.port-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.port-btn {
    text-decoration: none;
    background: #3f2b96;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.port-btn i {
    margin: 5px;
    font-size: 1rem;
}

.port-btn:hover {
    background: #5d3fbc;
}

.see-more {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3a3a6a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.see-more i {
    font-size: 1.2rem;
    padding: 3px;
}

.hidden {
    display: none;
    transition: all 0.3s ease;
}

/* ---------------------------TECH-STACK SECTION-------------- */

.tech-row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: 12px;
    margin-right: 12px;
    transition: all 0.3s ease-in;
}

.tech-icons{

    border:  1.7px solid rgba(10,90,101);
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgb(8, 106, 119);
    display: table;
    font-size: 7.5em;
    margin: 15px;
    opacity:.93;
    padding: 20px;
    text-align: center;
    transition: all .4s ease 0s;
    vertical-align: middle;   
    width: 25%;
}

.tech-icons img{
    height: 1em;
    width: 1em;
    margin-top: 9px;
    transition: transform .15s ease;
}

.tech-icons:hover{
    border: 2px solid #3cd6eb;
    filter:brightness(1px);
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgb(8, 106, 119);
    height: 1em;
}
/* -------------------------CONTACT SECTION ------------------------------ */

.contact-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card1 {
    background: #1a1a2e;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 0 15px rgba(160, 102, 255, 0.3);
}
.contact-form, .connect {
    flex: 1;
    min-width: 300px;
}
#contact h1 {
    font-size: 2.5em;
    /* color: #a066ff; */
    background: linear-gradient(#6366f1, #85b2dd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 0 0 15px #75a6ec;
}
#subtitle {
    color: #8293ab;
    font-size: 1rem;
    text-align: center;
}
.contact-form h2, .connect h2{
    color:#a55cf8;
}
.contact-form p, .connect p {
    color: #9ab4d7;
}

.input-group {
    margin-bottom: 15px;
}
.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1em;
}
.cbtn {
    width: 100%;
    background: #613bdb;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
.cbtn:hover {
    background: #65a3ee;
}

.social-icons {

    display: block;
    margin: 20px;
   
}
.social-icons a {
    color: #7d8896;
    font-size: 1.3rem;
    border: 4px solid #1a1515;
    background: #2e2e39;
    border-radius: 17px;
    display: inline-flex;
    gap: 10px;
    padding: 15px;
    text-decoration: none;
    width: 70%;
}

.social-icons a:hover {
    background: rgb(174, 210, 243);
    filter: brightness(1.1);
    color: #030014;
    transition: background 2s ease,color 0.3s ease;
}
.social-icons i {
    margin-top: 2px;
}


/* --------------------RESPONSIVE -------------------- */


/* ✅ Max-width: 1024px */

@media (max-width: 1024px) {
    ul li {
        font-size: 20px;
        padding: 15px;
    }

}

/* ✅ Max-width: 964px */
@media (max-width: 964px) {
    nav {
        justify-content: space-between;
        padding: 0 20px;
    }

    ul li {
        font-size: 18px;
        padding: 12px;
    }
    .abt-container {
        margin: 30px;
    }

    .abt-desc-col {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .abt-col-1, .abt-col-2 {
        width: 100%;
        padding-left: 0;
    }

    .intro {
        font-size: 3.5rem;
    }

    .intro span {
        font-size: 2.5rem;
    }

    .my-intro {
        font-size: 1.2rem;
        text-align: center;
    }

    .my-pic img {
        margin-top:20px;
        height: 450px;
    }

}

/* ✅ **For screens up to 768px** (Tablets) */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Initially hidden */
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu-active {
        display: flex;
    }

    ul li {
        padding: 10px;
        font-size: 18px;
    }

    #home .container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    #col-1 .desc-col h1 {
        font-size: 2rem;
    }

    #col-1 .info {
        font-size: 1rem;
    }

    .home-btn a {
        font-size: 1rem;
        padding: 7px 15px;
    }

    .icons i {
        font-size: 1.5rem;
    }

    #gify {
        width: 80%;
        height: auto;
    }


}

/* ✅ Max-width: 600px (Mobile Landscape View) */
@media (min-width: 425px) and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        gap: 5px;
    }

    ul li {
        padding: 8px;
        font-size: 16px;
    }

    #home .container {
        padding: 20px;
    }

    #col-1 .desc-col h1 {
        font-size: 1.8rem;
    }

    #col-1 .info {
        font-size: 0.9rem;
    }

    .home-btn a {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    .icons i {
        font-size: 1.3rem;
    }
    #gify {
        width: 90%;
        height: auto;
    }
    
    
}

/* ✅ Max-width: 425px (Mobile Portrait View) */
@media (max-width: 425px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    #logo {
        font-size: 1.5em;
    }

    ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: rgba(27, 27, 27, 0.8);
        position: absolute;
        top: 10vh;
        left: 0;
        padding: 10px 0;
    }

    ul li {
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    /* Show menu when active */
    .menu-active {
        display: flex;
    }

    /* Hamburger Menu */
    .menu-icon {
        display: block;
        font-size: 2em;
        cursor: pointer;
        color: #fff;
    }

    #home .container {
        padding: 15px;
    }

    #col-1 .desc-col h1 {
        font-size: 1.5rem;
    }

    #col-1 .info {
        font-size: 0.8rem;
    }

    .home-btn a {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .icons i {
        font-size: 1.2rem;
    }

    #gify {
        width: 90%;
        height: auto;
    }
    .abt-container {
        margin: 10px;
    }

    .intro {
        font-size: 2rem;
    }

    .intro span {
        font-size: 1.8rem;
    }

    .my-intro {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .abt-btn a {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .my-pic img {
        height: 300px;
        border: 4px solid #8a4dbf;
    }


}
